@import "reset";
@import "common";

.g-ma {
    padding: 40px 0 65px;
}

.g-sidebar {
    width: 200px;
    .m-upload {
        cursor: pointer;
        height: 50px;
        width: 100%;
        background-color: #fe8a23;
        color: #fff;
        line-height: 50px;
        font-size: 18px;
        &:before {
            @include z-fl;
            content: url(../img/buildresources/resourceupload.png);
            padding: 4px 10px 0 46px;
        }
    }

    .m-myresource {
        padding-top: 15px;
        li {
            width: 198px;
            height: 58px;
            border: 1px solid #e4e4e4;
            border-radius: 5px;
            margin-bottom: 5px;
            font-size: 18px;
            a {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                line-height: 58px;
                &:hover {
                    color: #b31a1b;
                }
                &:before {
                    @include z-fl;
                    content: url(../img/buildresources/resourceupload.png);
                    padding: 4px 10px 0 46px;
                }
                
            }
            .u-ul:before {
                content: url(../img/buildresources/upload-s.png)
            }
            .u-ulr:before {
                content: url(../img/buildresources/upload-sr.png)
            }
            .u-dl:before {
                content: url(../img/buildresources/download-s.png)
            }
            .u-dlr:before {
                content: url(../img/buildresources/download-sr.png)
            }
            .u-mf:before {
                content: url(../img/buildresources/favor-s.png)
            }
            .u-mfr:before {
                content: url(../img/buildresources/favor-sr.png)
            }
            .z-selected {
                color: #b31a1b;
            }
        }

        li:first-child {
            width: 198px;
            height: 58px;
            border-radius: 5px;
            background-color: #b31a1b;
            color: #fff;
            line-height: 60px;
            &:before {
                @include z-fl;
                content: url(../img/buildresources/resources.png);
                padding: 4px 10px 0 46px;
            }
        }
        
        li ~ li {
            position: relative;
            div {
                display: none;
                width: 5px;
                height: 58px;
                border-radius: 5px 0 0 5px;
                position: absolute;
                background-color: #b31a1b;
            }
        }
    }
}

.g-content {
    width: 780px;
    .m-search {
        * {
            outline: none;
        }
        input {
            @include z-fl;
            display: block;
            width: 360px;
            height: 36px;
            padding: 0 10px;
        }
        button {
            @include z-fl;
            display: block;
            background: #b31a1b url(../img/buildresources/search.png) no-repeat 10px;
            background-size: 20px;
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
        }
        .u-hotkey {
            line-height: 40px;
            span {
                padding-left: 20px;
                font-weight: bold;
            }
            a {
                padding-right: 10px;
            }
        }
    }
    @mixin z-selec {
        color: #fff;
        background-color: #b31a1b;
    }
    @mixin z-noselec {
        color: #666;
        background: none;
    }
    .m-type {
        margin-top: 20px;
        border: solid 1px #e4e4e4;
        padding: 15px 20px;
        .u-uwarp {
            padding: 5px 0;
            ul {
                width: 590px;
                @include z-fl;
            }
            ul li {
                @include z-fl;
                line-height: 25px;
                padding: 0 15px;
                margin: 0 5px 5px;
                border-radius: 5px;
                cursor: pointer;
            }
            .z-selec {
                @include z-selec;
            }
        }
        .u-ttitle {
            line-height: 25px;
        }
        .u-all {
            line-height: 25px;
            margin: 0 10px;
            color: #fff;
            padding: 0 15px;
            background-color: #b31a1b;
            border-radius: 5px;
            cursor: pointer;
        }
        .z-noselec {
            @include z-noselec;
        }
    }
    .m-select {
        width: 100%;
        ul li {
            font-size: 12px;
            line-height: 20px;
            height: 20px;
            @include z-fl;
            border: 1px solid #e4e4e4;
            padding: 0 25px 0 5px;
            background: url(../img/buildresources/cross.png) no-repeat right;
            margin: 0 10px 5px 0;
            &:hover {
                border: 1px solid #b31a1b;
                cursor: pointer;
                background: url(../img/buildresources/cross-r.png) no-repeat right;
            }
        }
    }
    .m-detail {
        .u-unit {
            padding: 35px 0 0 20px;
            border-bottom: 1px solid #e4e4e4;
            img {
                @include z-fl;
                width: 100px;
                height: 100px;
            }
            .z-imgl {
                height: 126px;
            }
            .u-info {
                @include z-fr;
                width: 640px;
                height: 150px;
                .u-title {
                    font-weight: bold;
                    height: 30px;
                    a:hover {
                        color: #b31a1b;
                    }
                }
                .u-meta {
                    height: 25px;
                }
                p {
                    text-align: justify;
                    line-height: 26px;
                    display: none;
                }
                @mixin icon-n {
                    @include z-fl;
                    padding-right: 10px;
                }
                .z-txt {
                    &:before {
                        @include icon-n;
                        content: url(../img/buildresources/txt.png);
                    }
                }
                .z-word {
                    &:before {
                        @include icon-n;
                        content: url(../img/buildresources/word.png);
                    }
                }
                .z-ppt {
                    &:before {
                        @include icon-n;
                        content: url(../img/buildresources/ppt.png);
                    }
                }
                .z-excel {
                    &:before {
                        @include icon-n;
                        content: url(../img/buildresources/excel.png);
                    }
                }
                .z-pdf {
                    &:before {
                        @include icon-n;
                        content: url(../img/buildresources/pdf.png);
                    }
                }
                .z-vedio {
                    &:before {
                        @include icon-n;
                        content: url(../img/buildresources/vedio.png);
                    }
                }
            }
            .u-icons {
                @include z-fr;
                height: 30px;
                width: 300px;
                color: #999;
                * {
                    @include z-fr;
                    display: block;
                    &:hover {
                        color: #b31a1b;
                    }
                }
                a {
                    color: #999;
                    padding-right: 20px;
                }
                span {
                    cursor: pointer;
                }
                .download {
                    &:before {
                        @include z-fl;
                        content: url(../img/buildresources/download.png);
                        padding-top: 2px;
                    }
                }
                .share {
                    padding-right: 20px;
                    &:before {
                        @include z-fl;
                        content: url(../img/buildresources/share.png);
                        padding-top: 2px;
                    }
                }
                .f {
                    &:before {
                        @include z-fl;
                        content: url(../img/buildresources/favor.png);
                        padding-top: 2px;
                    }
                }
                .c {
                    &:before {
                        @include z-fl;
                        content: url(../img/buildresources/favor-y.png);
                        padding-top: 2px;
                    }
                }
            }
        }
    }
    .m-pages {
        width: 100%;
        height: 50px;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        &>* {
            margin-right: 10px;
        }
        .u-prev, .u-next {
            text-align: center;
            line-height: 25px;
            width: 50px;
            height: 25px;
            &:hover {
                color: #fff;
                background-color: #b31a1b;
                cursor: pointer;
            }
        }
        .u-num {
            text-align: center;
            width: 25px;
            height: 25px;
            line-height: 25px;
            display: block;
            border-radius: 50%;
            &:hover {
                color: #fff;
                background-color: #b31a1b;
                cursor: pointer;
            }
        }
        input {
            width: 20px;
            outline: none;
            text-align: center;
        }
        button {
            color: #fff;
            border: none;
            width: 50px;
            height: 25px;
            background-color: #b31a1b;
            cursor: pointer;
            outline: none;
        }
        .z-nums {
            color: #fff;
            background-color: #b31a1b;
        }
    }
}