@import "reset";
@import "common";

.m-box {
    height: 20px;
}

/*图片展播的独立模块*/
.m-imgshow {
    height: 270px;
    width: 100%;
    position: relative;
    li {
        position: absolute;
        opacity: 0;
    }
    .u-spots {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-bottom: 10px;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        i {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            border: solid 1px #fff;
            border-radius: 50%;
            background-color: #ccc;
        }
        i:hover {
            cursor: pointer;
            background-color: #8f000b;
        }
    }
}